<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fi fi-rr-menu-burger"></i>
        </label>
        <img src="image-removebg-preview_2.png" alt="">
        <ul>
            <li class="list">
                <a href="../Home/index.html">
                    <i class="fi fi-rr-users"></i>
                    Cambiar cuenta</a>
            </li>
            <li class="list active">
                <a href="#">
                    <i class="fi fi-rr-clipboard-list"></i>
                    Historial</a>
            </li>
            <li class="list">
                <a href="./transfers.html">
                    <i class="fi fi-rr-usd-circle"></i>
                    Transferencias</a>
            </li>
            <li onclick="modal()">
                <a href="#">
                    <i class="fi fi-rr-credit-card"></i>
                    Facturas</a>
            </li>
            <li onclick="modal()">
                <a href="#">
                    <i class="fi fi-rr-file-invoice-dollar"></i>
                    Servicios</a>
            </li>
            <li>
                <a href="../Login/index.html">
                    <i class="fi fi-rr-exit"></i>
                    Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <div id="modal" class="modal-container">
        <div class="modal-content">
            <i class="fi fi-rr-exclamation 10px"></i>
            <h2>Lo sentimos, este apartado se encuentra en construcción</h2>
            <div class="button input-box modal-acept">
                <input type="button" value="Aceptar" id="close" onclick="modal()">
            </div>
        </div>
    </div>
    <section>
        <div class="section-text">
            <h2>TIPO DE CUENTA - NUMERO DE CUENTA</h2>
            <h2>Saldo disponible: SALDO</h2>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>N° Operacion</th>
                        <th>Cuenta</th>
                        <th>Tipo</th>
                        <th>Fecha y Hora</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <td>166455251</td>
                    <td>ANGELICA MARIA MORENO RECABARREN</td>
                    <td>ABONO</td>
                    <td>21-09-2022 13:40</td>
                    <td><span>+$ </span>26882</td>
                </tbody>
                <tbody>
                    <td>134738651</td>
                    <td>NETFLIX, INC</td>
                    <td>CARGO</td>
                    <td>21-09-2022 02:30</td>
                    <td><span>-$ </span>25000</td>
                </tbody>
            </table>
        </div>
    </section>
</body>
<!-- Archivo personalizado de JS -->
<script src="script.js"></script>

</html>